<header class="main-header">
  <div class="header-content">
    <div class="logo-section">
      <img src="assets/images/Logo-rosa.png" width="100" height="100" alt="Logo Conóceme" />
      <span class="logo-text"></span>
    </div>
    <nav class="nav-menu">
      <a routerLink="/inicio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
      <a routerLink="/servicios" routerLinkActive="active-link">Servicios</a>
      <a routerLink="/agenda" routerLinkActive="active-link">Agenda tu cita</a>
      <a routerLink="/contactos" routerLinkActive="active-link">Contactos</a>
    </nav>
  </div>
</header>
