<!-- <main class="bg-light">
  <div class="doce"></div>
<br> -->
<div class="paPonerColor">
  <div class="row justify-content-center me-1 mt-4">
    <div class="col-md-10 col-lg-9 text-end pe-0">
      <button class="btn btn-add" (click)="nuevoUsuario()" data-bs-toggle="modal" data-bs-target="#modalUsuario">
        <i class="bi bi-plus-circle"></i> Nuevo usuario
      </button>
    </div>
  </div>

  <div class="spinner-container" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="!isLoading">
    <div class="col-md-10 col-lg-9">
      <table class="table mi-tabla mx-auto">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Rol</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col" class="text-end pe-5">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of vectorUsuario">
            <th scope="row">{{us.id}}</th>
            <td>{{us.nombre}}</td>
            <td>{{us.fecha | date: 'dd/MM/yyy HH:mm'}}</td>
            <td>{{us.roll}}</td>
            <td>{{us.email}}</td>
            <td>{{us.dbpassword}}</td>
            <td class="text-end">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#modalUsuario"
                (click)="editarUsuario(us)"><i class="bi bi-pencil-square"></i> Editar</button>
              <button class="btn btn-delete" (click)="eliminarUsuario(us)"><i class="bi bi-trash"></i> Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalUsuario" #modalUsuario data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modalUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalUsuario">{{isNew?'Nuevo':'Editar'}} Usuario
            {{this.usuarioSeleccion?.nombre}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-cu-usuario [usuario]="usuarioSeleccion"></app-cu-usuario>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="guardarUsuario()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- </main> -->