<body>
        <div class="card" style="width: 18rem;">
        <img src="..." class="imgs" alt="Tratamientos">
        <div class="card-body">
            <h5 class="card-title">Tratamientos</h5>
            <p class="card-text">------------------------------.</p>
            <a href="AgendarJuanjo" class="btn btn-primary">Agendar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="col-md-6">
            <img src="..." class="imgs" alt="Tinturados">
            <div class="card-body">
            <h5 class="card-title">Tinturados</h5>
            <p class="card-text">-----------.</p>
            <a href="AgendarJuajo" class="btn btn-primary">Agendar</a>
            </div>
        </div>
    </div>
</body>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h2>Tratamientos</h2>
                <button>Agendar</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h2>Card title</h2>
                <p>Texto de ejemplo para completar el contenido de la tarjeta.</p>
                <button>Ir a algún lugar</button>
            </div>
        </div>
    </div>
</div> -->
