<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light">


    <div class="container" >
        <!-- (click)="enrutar()" -->
        <div class="row">


            <!-- Tarjeta 1 -->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">CORTES</h5>
                <img src="/assets/images/imgcortes.png" class="imgs" alt="CORTES">
                <p class="card-text">Define tu estilo y renueva tu look con un corte preciso y personalizado </p>
                <!-- <a href="AgendarJuanjo" class="btn btn-agendar">Agendar</a> -->
            </div>
            <!-- Tarjeta 4-->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">COLORACIONES</h5>
                <img src="/assets/images/imgcoloraciones.png" class="imgs" alt="COLORACIONES">
                <p class="card-text">Ilumina tu cabello con tonos vibrantes y naturales. Dale vida a tu imagen con el color perfecto</p>
                <!-- <a href="AgendarJuanjo" class="btn btn-agendar">Agendar</a> -->
            </div>

            <!-- Tarjeta 2 -->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">TRATAMIENTOS</h5>
                <img src="/assets/images/imgtratamientos.png" class="imgs" alt="TRATAMIENTOS">
                <p class="card-text">Recupera la salud y brillo de tu cabello con nosotros. Dale a tu cabello el cuidado que se merece</p>
                <!-- <a href="AgendarJuanjo" class="btn btn-agendar">Agendar</a> -->
            </div>

            <!-- Tarjeta 3 -->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">PEINADOS</h5>
                <img src="/assets/images/imgpeinados.png" class="imgs" alt="PEINADOS">
                <p class="card-text">Deslumbra con peinados elegantes y llenos de estilo. Cada ocasión merece un toque especial</p>
                <!-- <a href="AgendarJuanjo" class="btn btn-agendar">Agendar</a> -->
            </div>
                <a href="AgendarJuanjo" class="btn btn-agendar">Agendar</a>


            </div>
        </div>
    </div>