<div class="container">
    <div class="row">


        <!-- Tarjeta 1 -->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title"> TINTURADOS</h5>
                <img src="..." class="imgs" alt="Tinturados">
                <p class="card-text">------------------------------.</p>
                <a href="AgendarJuanjo" class="btn btn-primary">Agendar</a>
            </div>
        
        <!-- Tarjeta 2 -->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">TRATAMIENTOS</h5>
                <img src="..." class="imgs" alt="Tinturados">
                <p class="card-text">------------------------------.</p>
                <a href="AgendarJuanjo" class="btn btn-primary">Agendar</a>
            </div>

        <!-- Tarjeta 3 -->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">PEINADOS</h5>
                <img src="..." class="imgs" alt="Tinturados">
                <p class="card-text">------------------------------.</p>
                <a href="AgendarJuanjo" class="btn btn-primary">Agendar</a>
            </div>

            <!-- Tarjeta 4-->
            <div class="card" style="width: 18rem;">
                <h5 class="card-title"> TINTURADOS</h5>
                <img src="..." class="imgs" alt="Tinturados">
                <p class="card-text">------------------------------.</p>
                <a href="AgendarJuanjo" class="btn btn-primary">Agendar</a>
            </div>

    </div>
</div>

