<form>
  <div class="mb-3">
    <label for="Nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="Nombre" placeholder="Escribe tu nombre" *ngIf="citica"
      [(ngModel)]="citica.nombre">
  </div>
  <div class="mb-3">
    <label for="FechaCita" class="form-label">Fecha</label>
    <input type="datetime-local" name="FechaDeCita" class="form-control" id="Fecha" *ngIf="citica"
      [ngModel]="formatearFechita(citica.fecha)" (ngModelChange)="actualizarFecha($event)">
  </div>
  <div class="mb-3">
    <label for="Servicio" class="form-label">Servicio</label>
    <select class="form-control" *ngIf="citica" [(ngModel)]="citica.servicio" name="nombreServicio">
      <option value="" disabled selected>Selecciona un servicio</option>
      <option value="Corte">Corte</option>
      <option value="Coloración">Coloración</option>
      <option value="Tratamientos">Tratamientos</option>
      <option value="Peinados">Peinados</option>
    </select>
  </div>
</form>