<div class="paPonerColor">
    <div class="row justify-content-center me-1 mt-4">
      <div class="col-md-10 col-lg-9 text-end pe-0">
        <button class="btn btn-add" (click)="NuevaCita()" data-bs-toggle="modal" data-bs-target="#MiModal">
          <i class="bi bi-plus-circle"></i> Nueva cita
        </button>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9">
        <table class="table mi-tabla mx-auto">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col" class="text-end pe-5">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ct of vectorCitas">
              <th scope="row">{{ct.id}}</th>
              <td>{{ct.nombre}}</td>
              <td>{{ct.fecha | date: 'dd/MM HH:mm'}}</td>
              <td>{{ct.servicio }}</td>
              <td class="text-end">
                <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#MiModal"
                  (click)="cambiarCita(ct)"><i class="bi bi-pencil-square"></i> Editar</button>
                <button class="btn btn-delete" (click)="EliminarCita(ct)"><i class="bi bi-trash"></i> Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <div class="modal fade" id="MiModal" #MiModall tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{isNew?'Agenda':'Modifica'}}tu cita!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-cu-citas [citica]="citaSeleccionada"></app-cu-citas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="guardarcita()">{{isNew? "Agendar":"Modificar"}}mi
            cita!</button>
        </div>
      </div>
    </div>
  </div>
</div>


