<div class="row paPonerColor">
  <div class="col-12" id="colorsito">
    <table class="table  mi-tabla">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha</th>
          <th scope="col">Servicio</th>
          <th scope="col">Otras Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ct of vectorCitas">
          <th scope="row">{{ct.id}}</th>
          <td>{{ct.nombre}}</td>
          <td>{{ct.fecha | date: 'dd/MM HH:mm'}}</td>
          <td>{{ct.servicio }}</td>
          <td>
            <button class="btn btn-custom " data-bs-toggle="modal" data-bs-target="#MiModal"
              (click)="cambiarCita(ct)">Cambiar mi cita</button>
              <button class="btn btn-outline- me-4"(click)="EliminarCita(ct)">ELIMINAR CITA-</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="mt-4 text-center me-4">
  <button class="btn btn-outline- me-4" (click)="NuevaCita()" data-bs-toggle="modal" data-bs-target="#MiModal">AÑADIR CITA+</button>
  
</div>


<!-- Modal Citas -->
<div class="modal fade" id="MiModal" #MiModall tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{isNew?'Agenda':'Modifica'}}tu cita!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cu-citas [citica]="citaSeleccionada"></app-cu-citas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar Cita</button>
        <button type="button" class="btn btn-primary" (click)="GuardarCambios()">{{isNew? "Agendar":"Modificar"}}mi cita!</button>
      </div>
    </div>
  </div>
</div>
