.mi-tabla{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    border: 2px solid #8B4513;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    background-color: rgba(216, 191, 216, 0.9);
    display: flex;
    flex-direction: column;
    width: 100%;
    display: table;
}

.mi-tabla thead {
    background-color: rgba(216, 191, 216, 0.9);
    position: sticky;
    top: 0;
    z-index: 1;
}

.mi-tabla tbody {
    background-color: rgba(216, 191, 216, 0.8);
    overflow-y: auto;
    max-height: calc(100vh - 300px);
}

.paPonerColor{
    background-image: url('/assets/images/naturaleza-fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para los botones */
.btn-add {
    background-color: #689999;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}  

.btn-add:hover {
    background-color: #014d56;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-edit {
    background-color: #d2b49c;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.btn-edit:hover {
    background-color: #d2b49c;
    transform: scale(1.05);
}

.btn-delete {
    background-color: #7d538e;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.btn-delete:hover {
    background-color: #e7a6c9;
    transform: scale(1.05);
}