<footer class="bg-footer main-footer position-relative">
  <div class="">
    <div class="end-50 position-absolute d-flex">
      <span>© 2025 Conóceme • Todos los derechos reservados</span>
      <div class="footer-flower">
        <span class="ps-3"></span>
      </div>
    </div>
    <div class="">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="bi bi-whatsapp"></i></a>
    </div>
  </div>
</footer>
